<HeliHeld>
	<Menu name = "MainMenu">
		<Button>
			<Label>1</Label>
			<Pos>3259.96,152,3724.76</Pos>
			<Rot>0,0,0</Rot>
			<Function>LoadLevel1</Function>
		</Button>
		<Button>
			<Label>VerticalSlice</Label>
			<Pos>3259,150,3724</Pos>
			<Rot>0,0,0</Rot>
			<Function>LoadVerticalSlice</Function>
		</Button>
	</Menu>
	<Menu name = "Shop">
		<Button>
			<Label>BuyStuff!</Label>
			<Pos>3240,150,3750</Pos>
			<Rot>0,285,0</Rot>
			<Scale>30,5,1</Scale>
			<Function>LoadVerticalSlice</Function>
		</Button>
	</Menu>
	
	<Levels>
 <Level name="level3">
    <Objects>
      <Object>
        <Name>TriggerInitial_000_</Name>
        <Pos>(2820.0, 128.2, 364.5)</Pos>
        <Rot>(0.0, 0.0, 0.0)</Rot>
        <Trigger>
          <EventReaction>
            <Type>Say</Type>
            <Pos>(0.0, 0.0, 0.0)</Pos>
            <MessageName>Hallo</MessageName>
            <Listeners>
              <Listener>HudObject</Listener>
            </Listeners>
          </EventReaction>
          <EventReaction>
            <Type>StartTimer</Type>
            <Pos>(0.0, 0.0, 0.0)</Pos>
            <MessageName>
            </MessageName>
            <Listeners>
              <Listener>TriggerTimer_001_</Listener>
            </Listeners>
          </EventReaction>
          <Radius>86.12</Radius>
          <Type>OnTriggerEnter</Type>
          <RepeatCount>1</RepeatCount>
          <TimeToTrigger>0</TimeToTrigger>
          <CountToTrigger>0</CountToTrigger>
        </Trigger>
      </Object>
      <Object>
        <Name>TriggerTimer_001_</Name>
        <Pos>(2820.0, 128.2, 364.5)</Pos>
        <Rot>(0.0, 0.0, 0.0)</Rot>
        <Trigger>
          <EventReaction>
            <Type>Say</Type>
            <Pos>(0.0, 0.0, 0.0)</Pos>
            <MessageName>ToLate</MessageName>
            <Listeners>
              <Listener>HudObject</Listener>
            </Listeners>
          </EventReaction>
          <Radius>0</Radius>
          <Type>Timer</Type>
          <RepeatCount>1</RepeatCount>
          <TimeToTrigger>10</TimeToTrigger>
          <CountToTrigger>0</CountToTrigger>
        </Trigger>
      </Object>
      <Object>
        <Name>beaconPrefab_002_</Name>
        <Pos>(2797.9, 1.0, 839.8)</Pos>
        <Rot>(0.0, 0.0, 0.0)</Rot>
        <Beacon>
          <Spawn>Start</Spawn>
          <PrefabName>beaconPrefab</PrefabName>
        </Beacon>
      </Object>
    </Objects>
  </Level>
	</Levels>
	
	<Messages>
		<Message>
			<Name>Intro</Name>
			<Text> Schip in nood, ga snel! Drie mensen in het water! </Text>
			<Audio>test</Audio>
		</Message>
		<Message>
			<Name>Hallo</Name>
			<Text>Hallo daar speler.</Text>
			<Audio>test</Audio>
		</Message>
		<Message>
			<Name>Move</Name>
			<Text>Goed gedaan! Vlieg nu terug naar de basis. 
			Vouw eerst je handen weer voor je buik om de helicopter te kunnen besturen.</Text>
			<Audio>test</Audio>			
		</Message>
		<Message>
			<Name>ToLate</Name>
			<Text>Te laat, mensen verdrinken, vind de andere boot. 
			Daar liggen twee mensen in het water.</Text>
			<Audio>Hello</Audio>			
		</Message>
		<Message>
			<Name>DefaultMessage</Name>
			<Text>PLACEHOLDER MESSAGE</Text>
			<Audio>test</Audio>			
		</Message>
		
	</Messages>
	<Settings>
		<Setting name="flightHeight" value="200"></Setting>
		<Setting name="buttonTime" value="2"></Setting>
		<Setting name="rainStrength" value="10"></Setting>
		<Setting name="heliSpeed" value="100"></Setting>
		<Setting name="capsuleHeight" value = "100"></Setting>
	</Settings>
	
	
</HeliHeld>