<?xml version="1.0" encoding="us-ascii"?>
<HeliHeld>
  <Menu name="MainMenu">
    <Button>
      <Name>Level3Load</Name>
      <Label>1</Label>
      <Type>LoadLevel</Type>
      <Pos>3259.96,152,3724.76</Pos>
      <Rot>0,0,0</Rot>
      <Function>level3</Function>
    </Button>
    <Button>
      <Name>DerpKnop</Name>
      <Type>LoadLevel</Type>
      <Label>VerticalSlice</Label>
      <Pos>3259,150,3724</Pos>
      <Rot>0,0,0</Rot>
      <Function>RescueTest</Function>
    </Button>
  </Menu>
  <Menu name="Shop">
    <Button>
      <Label>BuyStuff!</Label>
      <Pos>3240,150,3750</Pos>
      <Rot>0,285,0</Rot>
      <Scale>30,5,1</Scale>
      <Function>LoadVerticalSlice</Function>
    </Button>
  </Menu>
  <Levels>
    <Level name="Level1">
      <Objects>
        <Object>
          <Name>TriggerGuide_000_</Name>
          <Pos>(1538, -69.04, 934)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Keerom</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <Radius>568.93</Radius>
            <Type>OnTriggerEnter</Type>
            <RepeatCount>10</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>beaconPrefab_002__001_</Name>
          <Pos>(2797, 1.042, 626.4)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Beacon>
            <Spawn>Start</Spawn>
            <PrefabName />
          </Beacon>
        </Object>
        <Object>
          <Name>TriggerGuide_002_</Name>
          <Pos>(3886, -69.04, 1983)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Keerom</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <Radius>568.93</Radius>
            <Type>OnTriggerEnter</Type>
            <RepeatCount>10</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>Ship2_003_</Name>
          <Pos>(2559, 27, 1366)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Ship>
            <Spawn>Later</Spawn>
            <PrefabName>SailBoat</PrefabName>
          </Ship>
          <Trigger>
            <EventReaction>
              <Type>Spawn</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>
              </MessageName>
              <Listeners />
            </EventReaction>
            <Radius>0</Radius>
            <Type>OnDestroy</Type>
            <RepeatCount>0</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Boot1</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <Radius>197.87</Radius>
            <Type>OnTriggerEnter</Type>
            <RepeatCount>10</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
          <Trigger>
            <EventReaction>
              <Type>Enable</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Castaway4</MessageName>
              <Listeners />
            </EventReaction>
            <Radius>0</Radius>
            <Type>OnSpawn</Type>
            <RepeatCount>0</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
          <Trigger>
            <EventReaction>
              <Type>Enable</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Castaway5</MessageName>
              <Listeners />
            </EventReaction>
            <Radius>0</Radius>
            <Type>OnSpawn</Type>
            <RepeatCount>0</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
          <Beacon>
            <Spawn>Start</Spawn>
            <PrefabName />
          </Beacon>
        </Object>
        <Object>
          <Name>TriggerGuide_004_</Name>
          <Pos>(4383, -69.04, 1103)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Keerom</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <Radius>568.93</Radius>
            <Type>OnTriggerEnter</Type>
            <RepeatCount>10</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>testCastaway_000__005_</Name>
          <Pos>(2709, 28.72, 456.4)</Pos>
          <Rot>(12.48, 175, -2.569E-06)</Rot>
          <Castaway>
            <ScoreValue>100</ScoreValue>
            <Spawn>Start</Spawn>
            <PrefabName>castawayPrefab</PrefabName>
          </Castaway>
        </Object>
        <Object>
          <Name>TriggerInitial_006_</Name>
          <Pos>(2820, 125.7, 364.5)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Intro</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <Radius>86.12</Radius>
            <Type>OnTriggerEnter</Type>
            <RepeatCount>1</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>Castaway2_007_</Name>
          <Pos>(2975, 20.75, 1281)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Castaway>
            <ScoreValue>100</ScoreValue>
            <Spawn>Start</Spawn>
            <PrefabName>Placeholder_Character</PrefabName>
          </Castaway>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Save</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <Radius>0</Radius>
            <Type>OnRescued</Type>
            <RepeatCount>0</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
          <Trigger>
            <EventReaction>
              <Type>Destroy</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Placeholder_Castaway</MessageName>
              <Listeners />
            </EventReaction>
            <Radius>0</Radius>
            <Type>Timer</Type>
            <RepeatCount>0</RepeatCount>
            <TimeToTrigger>70</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>Castaway3_008_</Name>
          <Pos>(3124, 20.75, 1281)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Castaway>
            <ScoreValue>100</ScoreValue>
            <Spawn>Start</Spawn>
            <PrefabName>Placeholder_Character</PrefabName>
          </Castaway>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Save</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <Radius>0</Radius>
            <Type>OnRescued</Type>
            <RepeatCount>0</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
          <Trigger>
            <EventReaction>
              <Type>Destroy</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Placeholder_Castaway</MessageName>
              <Listeners />
            </EventReaction>
            <Radius>0</Radius>
            <Type>Timer</Type>
            <RepeatCount>0</RepeatCount>
            <TimeToTrigger>70</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>Castaway1_009_</Name>
          <Pos>(3063, 20.75, 1360)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Castaway>
            <ScoreValue>100</ScoreValue>
            <Spawn>Start</Spawn>
            <PrefabName>Placeholder_Character</PrefabName>
          </Castaway>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Save</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <Radius>0</Radius>
            <Type>OnRescued</Type>
            <RepeatCount>0</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
          <Trigger>
            <EventReaction>
              <Type>Destroy</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Placeholder_Castaway</MessageName>
              <Listeners />
            </EventReaction>
            <Radius>0</Radius>
            <Type>Timer</Type>
            <RepeatCount>0</RepeatCount>
            <TimeToTrigger>70</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>Castaway5_010_</Name>
          <Pos>(2537, 20, 1334)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Castaway>
            <ScoreValue>100</ScoreValue>
            <Spawn>Later</Spawn>
            <PrefabName>Placeholder_Character</PrefabName>
          </Castaway>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Save</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <Radius>0</Radius>
            <Type>OnRescued</Type>
            <RepeatCount>0</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>TriggerTimer_011_</Name>
          <Pos>(2820, 128.2, 364.5)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Trigger>
            <EventReaction>
              <Type>Highlight_Activate</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>
              </MessageName>
              <Listeners />
            </EventReaction>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>ToLate</MessageName>
              <Listeners />
            </EventReaction>
            <Radius>0</Radius>
            <Type>Timer</Type>
            <RepeatCount>1</RepeatCount>
            <TimeToTrigger>5</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>Ship1_012_</Name>
          <Pos>(3032, 27, 1283)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Ship>
            <Spawn>Start</Spawn>
            <PrefabName>FishingBoat</PrefabName>
          </Ship>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Boat1</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <Radius>206.55</Radius>
            <Type>OnTriggerEnter</Type>
            <RepeatCount>10</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
          <Trigger>
            <EventReaction>
              <Type>Destroy</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>
              </MessageName>
              <Listeners />
            </EventReaction>
            <EventReaction>
              <Type>Enable</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Ship2</MessageName>
              <Listeners />
            </EventReaction>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>ToLate</MessageName>
              <Listeners />
            </EventReaction>
            <Radius>0</Radius>
            <Type>Timer</Type>
            <RepeatCount>0</RepeatCount>
            <TimeToTrigger>70</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
          <Beacon>
            <Spawn>Start</Spawn>
            <PrefabName />
          </Beacon>
        </Object>
        <Object>
          <Name>TriggerTimer_001__013_</Name>
          <Pos>(2820, 128.2, 364.5)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Trigger>
            <EventReaction>
              <Type>Highlight_Activate</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>
              </MessageName>
              <Listeners>
                <Listener>RadarAndFuel</Listener>
              </Listeners>
            </EventReaction>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>ToLate</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <Radius>0</Radius>
            <Type>Timer</Type>
            <RepeatCount>1</RepeatCount>
            <TimeToTrigger>5</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>TriggerGuide_014_</Name>
          <Pos>(1829, -69.04, 1953)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Keerom</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <Radius>568.93</Radius>
            <Type>OnTriggerEnter</Type>
            <RepeatCount>10</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>TriggerGuide_015_</Name>
          <Pos>(2853, -69.04, 2348)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Keerom</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <Radius>568.93</Radius>
            <Type>OnTriggerEnter</Type>
            <RepeatCount>10</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>Castaway4_016_</Name>
          <Pos>(2595, 20, 1334)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Castaway>
            <ScoreValue>100</ScoreValue>
            <Spawn>Later</Spawn>
            <PrefabName>Placeholder_Character</PrefabName>
          </Castaway>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Save</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <Radius>0</Radius>
            <Type>OnRescued</Type>
            <RepeatCount>0</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
      </Objects>
      <Score>
        <GoldScoreMinimum>200</GoldScoreMinimum>
        <SilverScoreMinimum>100</SilverScoreMinimum>
        <BronzeScoreMinimum>0</BronzeScoreMinimum>
      </Score>
    </Level>
    <Level name="exampleLevel">
      <Objects>
        <Object>
          <Name>TriggerInitial_000_</Name>
          <Pos>(2820.0, 128.2, 364.5)</Pos>
          <Rot>(0.0, 0.0, 0.0)</Rot>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0.0, 0.0, 0.0)</Pos>
              <MessageName>Hallo</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <EventReaction>
              <Type>StartTimer</Type>
              <Pos>(0.0, 0.0, 0.0)</Pos>
              <MessageName>
              </MessageName>
              <Listeners>
                <Listener>TriggerTimer_002_</Listener>
              </Listeners>
            </EventReaction>
            <Radius>86.12</Radius>
            <Type>OnTriggerEnter</Type>
            <RepeatCount>1</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>beaconPrefab_001_</Name>
          <Pos>(2797.9, 1.0, 839.8)</Pos>
          <Rot>(0.0, 0.0, 0.0)</Rot>
          <Beacon>
            <Spawn>Start</Spawn>
            <PrefabName>beaconPrefab</PrefabName>
          </Beacon>
        </Object>
        <Object>
          <Name>TriggerTimer_002_</Name>
          <Pos>(2820.0, 128.2, 364.5)</Pos>
          <Rot>(0.0, 0.0, 0.0)</Rot>
          <Trigger>
            <EventReaction>
              <Type>Highlight_Activate</Type>
              <Pos>(0.0, 0.0, 0.0)</Pos>
              <MessageName>
              </MessageName>
              <Listeners>
                <Listener>RadarAndFuel</Listener>
              </Listeners>
            </EventReaction>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0.0, 0.0, 0.0)</Pos>
              <MessageName>ToLate</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <Radius>0</Radius>
            <Type>Timer</Type>
            <RepeatCount>1</RepeatCount>
            <TimeToTrigger>5</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
      </Objects>
      <Score>
        <GoldScoreMinimum>200</GoldScoreMinimum>
        <SilverScoreMinimum>100</SilverScoreMinimum>
        <BronzeScoreMinimum>0</BronzeScoreMinimum>
      </Score>
    </Level>
    <Level name="Level2">
      <Objects>
        <Object>
          <Name>Castaway1_002__000_</Name>
          <Pos>(2336, 20, 1748)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Castaway>
            <ScoreValue>100</ScoreValue>
            <Spawn>Later</Spawn>
            <PrefabName>Placeholder_Character</PrefabName>
          </Castaway>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Save</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <EventReaction>
              <Type>Count</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>
              </MessageName>
              <Listeners>
                <Listener>gameOverTrigger_006_</Listener>
              </Listeners>
            </EventReaction>
            <Radius>0</Radius>
            <Type>OnRescued</Type>
            <RepeatCount>1</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>Castaway8_003__001_</Name>
          <Pos>(2281, 20, 3021)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Castaway>
            <ScoreValue>100</ScoreValue>
            <Spawn>Later</Spawn>
            <PrefabName>Placeholder_Character</PrefabName>
          </Castaway>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Save</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <EventReaction>
              <Type>Count</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>
              </MessageName>
              <Listeners>
                <Listener>gameOverTrigger_006_</Listener>
              </Listeners>
            </EventReaction>
            <Radius>0</Radius>
            <Type>OnRescued</Type>
            <RepeatCount>1</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>TriggerGuide_010__002_</Name>
          <Pos>(3476, 27.83, 1134)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Keerom</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <Radius>426.6</Radius>
            <Type>OnTriggerEnter</Type>
            <RepeatCount>10</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>TriggerTimer_019__003_</Name>
          <Pos>(2820, 128.2, 364.5)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Trigger>
            <EventReaction>
              <Type>Highlight_Activate</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>
              </MessageName>
              <Listeners>
                <Listener>RadarAndFuel</Listener>
              </Listeners>
            </EventReaction>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>ToLate</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <Radius>0</Radius>
            <Type>Timer</Type>
            <RepeatCount>1</RepeatCount>
            <TimeToTrigger>5</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>TriggerGuide_001__004_</Name>
          <Pos>(2541, 27.83, 3732)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Keerom</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <Radius>426.6</Radius>
            <Type>OnTriggerEnter</Type>
            <RepeatCount>10</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>Castaway10_004__005_</Name>
          <Pos>(2130, 20, 3126)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Castaway>
            <ScoreValue>100</ScoreValue>
            <Spawn>Later</Spawn>
            <PrefabName>Placeholder_Character</PrefabName>
          </Castaway>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Save</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <EventReaction>
              <Type>Count</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>
              </MessageName>
              <Listeners>
                <Listener>gameOverTrigger_006_</Listener>
              </Listeners>
            </EventReaction>
            <Radius>0</Radius>
            <Type>OnRescued</Type>
            <RepeatCount>1</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>gameOverTrigger_006_</Name>
          <Pos>(0, 0, 0)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Trigger>
            <EventReaction>
              <Type>EndLevel</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>
              </MessageName>
              <Listeners>
                <Listener>Main</Listener>
              </Listeners>
            </EventReaction>
            <Radius>0</Radius>
            <Type>Counting</Type>
            <RepeatCount>1</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>4</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>beaconPrefab_016__007_</Name>
          <Pos>(2797, 1.042, 626.4)</Pos>
          <Rot>(0, 0, 0)</Rot>
        </Object>
        <Object>
          <Name>Castaway6_005__008_</Name>
          <Pos>(2007, 110.3, 2428)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Castaway>
            <ScoreValue>100</ScoreValue>
            <Spawn>Later</Spawn>
            <PrefabName>Placeholder_Character</PrefabName>
          </Castaway>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Save</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <EventReaction>
              <Type>Count</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Save</MessageName>
              <Listeners>
                <Listener>gameOverTrigger_006_</Listener>
              </Listeners>
            </EventReaction>
            <Radius>0</Radius>
            <Type>OnRescued</Type>
            <RepeatCount>1</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>StartMission_012__009_</Name>
          <Pos>(2780, 77.13, 385.8)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>
              </MessageName>
              <Listeners />
            </EventReaction>
            <EventReaction>
              <Type>Enable</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Boat1</MessageName>
              <Listeners>
                <Listener>Boat1_000__014_</Listener>
                <Listener>Boat1_000__014_</Listener>
              </Listeners>
            </EventReaction>
            <EventReaction>
              <Type>Enable</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Castaway1</MessageName>
              <Listeners>
                <Listener>Castaway1_002__000_</Listener>
                <Listener>Castaway1_002__000_</Listener>
              </Listeners>
            </EventReaction>
            <EventReaction>
              <Type>Enable</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Castway2</MessageName>
              <Listeners>
                <Listener>Castaway2_006__011_</Listener>
                <Listener>Castaway2_006__011_</Listener>
              </Listeners>
            </EventReaction>
            <EventReaction>
              <Type>Enable</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Castway3</MessageName>
              <Listeners>
                <Listener>Castaway3_015__010_</Listener>
                <Listener>Castaway3_015__010_</Listener>
              </Listeners>
            </EventReaction>
            <EventReaction>
              <Type>Enable</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Castway4</MessageName>
              <Listeners>
                <Listener>Castaway4_017__013_</Listener>
                <Listener>Castaway4_017__013_</Listener>
              </Listeners>
            </EventReaction>
            <Radius>49.58</Radius>
            <Type>OnTriggerEnter</Type>
            <RepeatCount>1</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>Castaway3_015__010_</Name>
          <Pos>(2261, 20, 1803)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Castaway>
            <ScoreValue>100</ScoreValue>
            <Spawn>Later</Spawn>
            <PrefabName>Placeholder_Character</PrefabName>
          </Castaway>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Save</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <EventReaction>
              <Type>Count</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>
              </MessageName>
              <Listeners>
                <Listener>gameOverTrigger_006_</Listener>
              </Listeners>
            </EventReaction>
            <Radius>0</Radius>
            <Type>OnRescued</Type>
            <RepeatCount>1</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>Castaway2_006__011_</Name>
          <Pos>(2316, 20, 1812)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Castaway>
            <ScoreValue>100</ScoreValue>
            <Spawn>Later</Spawn>
            <PrefabName>Placeholder_Character</PrefabName>
          </Castaway>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Save</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <EventReaction>
              <Type>Count</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>
              </MessageName>
              <Listeners>
                <Listener>gameOverTrigger_006_</Listener>
              </Listeners>
            </EventReaction>
            <Radius>0</Radius>
            <Type>OnRescued</Type>
            <RepeatCount>1</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>TriggerGuide_009__012_</Name>
          <Pos>(3495, 27.83, 2892)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Keerom</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <Radius>426.6</Radius>
            <Type>OnTriggerEnter</Type>
            <RepeatCount>10</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>Castaway4_017__013_</Name>
          <Pos>(2281, 20, 1850)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Castaway>
            <ScoreValue>100</ScoreValue>
            <Spawn>Later</Spawn>
            <PrefabName>Placeholder_Character</PrefabName>
          </Castaway>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Save</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <EventReaction>
              <Type>Enable</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>
              </MessageName>
              <Listeners>
                <Listener>Boat2_020__017_</Listener>
                <Listener>Boat2_020__017_</Listener>
              </Listeners>
            </EventReaction>
            <EventReaction>
              <Type>Count</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>
              </MessageName>
              <Listeners>
                <Listener>gameOverTrigger_006_</Listener>
              </Listeners>
            </EventReaction>
            <Radius>0</Radius>
            <Type>OnRescued</Type>
            <RepeatCount>1</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>Boat1_000__014_</Name>
          <Pos>(2343, 27.13, 1783)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Ship>
            <Spawn>Later</Spawn>
            <PrefabName>FishingBoat</PrefabName>
          </Ship>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Boat1</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <Radius>85.53</Radius>
            <Type>OnTriggerEnter</Type>
            <RepeatCount>10</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>TriggerGuide_007__015_</Name>
          <Pos>(3346, 27.83, 1921)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Keerom</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <Radius>426.6</Radius>
            <Type>OnTriggerEnter</Type>
            <RepeatCount>10</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>Castaway5_013__016_</Name>
          <Pos>(2066, 110.3, 2428)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Castaway>
            <ScoreValue>100</ScoreValue>
            <Spawn>Later</Spawn>
            <PrefabName>Placeholder_Character</PrefabName>
          </Castaway>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Save</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <EventReaction>
              <Type>Count</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>
              </MessageName>
              <Listeners>
                <Listener>gameOverTrigger_006_</Listener>
              </Listeners>
            </EventReaction>
            <Radius>0</Radius>
            <Type>OnRescued</Type>
            <RepeatCount>1</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>Boat2_020__017_</Name>
          <Pos>(2212, 27, 3090)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Ship>
            <Spawn>Later</Spawn>
            <PrefabName>SailBoat</PrefabName>
          </Ship>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Boat1</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <EventReaction>
              <Type>Enable</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Castaway8</MessageName>
              <Listeners>
                <Listener>Castaway8_003__001_</Listener>
                <Listener>Castaway8_003__001_</Listener>
                <Listener>Castaway9_008__020_</Listener>
                <Listener>Castaway9_008__020_</Listener>
                <Listener>Castaway10_004__005_</Listener>
                <Listener>Castaway10_004__005_</Listener>
              </Listeners>
            </EventReaction>
            <Radius>144.31</Radius>
            <Type>OnTriggerEnter</Type>
            <RepeatCount>1</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>Castaway7_018__018_</Name>
          <Pos>(2114, 110.3, 2428)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Castaway>
            <ScoreValue>100</ScoreValue>
            <Spawn>Later</Spawn>
            <PrefabName>Placeholder_Character</PrefabName>
          </Castaway>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Save</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <EventReaction>
              <Type>Count</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>
              </MessageName>
              <Listeners>
                <Listener>gameOverTrigger_006_</Listener>
              </Listeners>
            </EventReaction>
            <Radius>0</Radius>
            <Type>OnRescued</Type>
            <RepeatCount>1</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>TriggerGuide_011__019_</Name>
          <Pos>(1679, 27.83, 1121)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Keerom</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <Radius>426.6</Radius>
            <Type>OnTriggerEnter</Type>
            <RepeatCount>10</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>Castaway9_008__020_</Name>
          <Pos>(2281, 284.6, 2999)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Castaway>
            <ScoreValue>100</ScoreValue>
            <Spawn>Later</Spawn>
            <PrefabName>Placeholder_Character</PrefabName>
          </Castaway>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Save</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <EventReaction>
              <Type>Count</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>
              </MessageName>
              <Listeners>
                <Listener>gameOverTrigger_006_</Listener>
              </Listeners>
            </EventReaction>
            <Radius>0</Radius>
            <Type>OnRescued</Type>
            <RepeatCount>1</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>TriggerGuide_021__021_</Name>
          <Pos>(1381, 27.83, 2732)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>Keerom</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <Radius>426.6</Radius>
            <Type>OnTriggerEnter</Type>
            <RepeatCount>10</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>SpecialMission_014__022_</Name>
          <Pos>(2439, 28.11, 2244)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Trigger>
            <EventReaction>
              <Type>Say</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>SpecialMission</MessageName>
              <Listeners>
                <Listener>RadioObject</Listener>
              </Listeners>
            </EventReaction>
            <EventReaction>
              <Type>Enable</Type>
              <Pos>(0, 0, 0)</Pos>
              <MessageName>SpecialMission</MessageName>
              <Listeners>
                <Listener>Castaway6_005__008_</Listener>
                <Listener>Castaway5_013__016_</Listener>
                <Listener>Castaway7_018__018_</Listener>
              </Listeners>
            </EventReaction>
            <Radius>345.46</Radius>
            <Type>OnTriggerEnter</Type>
            <RepeatCount>1</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
      </Objects>
      <Score>
        <GoldScoreMinimum>200</GoldScoreMinimum>
        <SilverScoreMinimum>100</SilverScoreMinimum>
        <BronzeScoreMinimum>0</BronzeScoreMinimum>
      </Score>
    </Level>
    <Level name="ScoreTest">
      <Objects>
        <Object>
          <Name>rescuable_000__000_</Name>
          <Pos>(2841, 30, 747)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Castaway>
            <Spawn>Start</Spawn>
            <PrefabName>Placeholder_Character</PrefabName>
            <ScoreValue>101</ScoreValue>
          </Castaway>
        </Object>
        <Object>
          <Name>endGameObject_001__001_</Name>
          <Pos>(2792, 30, 846.8)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Trigger>
            <EventReaction>
              <Type>EndLevel</Type>
              <Pos>(0.0, 0.0, 0.0)</Pos>
              <MessageName>
              </MessageName>
              <SpecialScore>0</SpecialScore>
              <Listeners>
                <Listener>Main</Listener>
              </Listeners>
            </EventReaction>
            <Radius>80</Radius>
            <Type>OnTriggerEnter</Type>
            <RepeatCount>1</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
        <Object>
          <Name>addScoreObject_002__002_</Name>
          <Pos>(2795, 30, 663.8)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Trigger>
            <EventReaction>
              <Type>SpecialScore</Type>
              <Pos>(0.0, 0.0, 0.0)</Pos>
              <MessageName>
              </MessageName>
              <SpecialScore>1000</SpecialScore>
              <Listeners>
                <Listener>Main</Listener>
              </Listeners>
            </EventReaction>
            <Radius>80</Radius>
            <Type>OnTriggerEnter</Type>
            <RepeatCount>1</RepeatCount>
            <TimeToTrigger>0</TimeToTrigger>
            <CountToTrigger>0</CountToTrigger>
          </Trigger>
        </Object>
      </Objects>
      <Score>
        <GoldScoreMinimum>200</GoldScoreMinimum>
        <SilverScoreMinimum>100</SilverScoreMinimum>
        <BronzeScoreMinimum>0</BronzeScoreMinimum>
      </Score>
    </Level>
    <Level name="newXml">
      <Objects>
        <Object>
          <Name>GameObject_000_</Name>
          <Pos>(2819, 36.78, 352.6)</Pos>
          <Rot>(0, 0, 0)</Rot>
          <Castaway>
            <Spawn>Start</Spawn>
            <PrefabName>Placeholder_Character</PrefabName>
          </Castaway>
        </Object>
      </Objects>
    </Level>
  </Levels>
  <Settings>
    <Setting name="flightHeight" value="150">
    </Setting>
    <Setting name="buttonTime" value="2">
    </Setting>
    <Setting name="rainStrength" value="10">
    </Setting>
    <Setting name="heliSpeed" value="100">
    </Setting>
    <Setting name="capsuleHeight" value="100">
    </Setting>
  </Settings>
  <Messages>
    <Message>
      <Name>Intro</Name>
      <Text> Schip in nood, ga snel! Drie mensen in het water! </Text>
      <Audio>
      </Audio>
      <IsWarning>False</IsWarning>
    </Message>
    <Message>
      <Name>Hallo</Name>
      <Text>Hallo daar speler.</Text>
      <Audio>switch32</Audio>
      <IsWarning>False</IsWarning>
    </Message>
    <Message>
      <Name>Keerom</Name>
      <Text>Hier is geen boot, keer om</Text>
      <Audio>
      </Audio>
      <IsWarning>False</IsWarning>
    </Message>
    <Message>
      <Name>Move</Name>
      <Text>Goed gedaan! Vlieg nu terug naar de basis. 
			Vouw eerst je handen weer voor je buik om de helicopter te kunnen besturen.</Text>
      <Audio>
      </Audio>
      <IsWarning>False</IsWarning>
    </Message>
    <Message>
      <Name>ToLate</Name>
      <Text>Te laat, mensen verdrinken, vind de andere boot. 
			Daar liggen twee mensen in het water.</Text>
      <Audio>
      </Audio>
      <IsWarning>False</IsWarning>
    </Message>
    <Message>
      <Name>SpecialMission</Name>
      <Text>Speciale missie! Er zijn 3 mensen naar een eiland gezwommen.
				Vind ze voor extra punten!
			</Text>
      <Audio>
      </Audio>
      <IsWarning>False</IsWarning>
    </Message>
    <Message>
      <Name>Save</Name>
      <Text>Je hebt een drenkeling gered, vind ze allemaal!
			</Text>
      <Audio>
      </Audio>
      <IsWarning>False</IsWarning>
    </Message>
    <Message>
      <Name>Boat1</Name>
      <Text>Je bent in de buurt van een schip, ga er boven vliegen
			</Text>
      <Audio>
      </Audio>
      <IsWarning>False</IsWarning>
    </Message>
    <Message>
      <Name>Mission1</Name>
      <Text>Er is 1 schip in nood, vind hem en red de drie
			drenkelingen!</Text>
      <Audio>
      </Audio>
      <IsWarning>False</IsWarning>
    </Message>
    <Message>
      <Name>Mission2</Name>
      <Text>Er is 2 schepen in nood, vind ze en red de 7
			drenkelingen!</Text>
      <Audio>
      </Audio>
      <IsWarning>False</IsWarning>
    </Message>
    <Message>
      <Name>DefaultMessage</Name>
      <Text>PLACEHOLDER MESSAGE</Text>
      <Audio>switch32</Audio>
      <IsWarning>False</IsWarning>
    </Message>
  </Messages>
</HeliHeld>